@import "tailwindcss";

.time{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    min-width: 120px;
    padding: 12px;
}
.feel-text{
    display: flex;
    justify-content: start;
    align-items: center;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
}
.important-links span{
  font-size: 5vw;
}

#close{
    display: none;
}

@media (max-width: 640px) {
  #close{
    display: block;
  }
}

#wrapper{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

#recent-cities{
    width:100%;
    margin-top:8px;
    padding:10px;
    border-radius:20px;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    color:white;
    border:none;
}