@import "tailwindcss";

.time{
    display: flex;
    flex-shrink: 0;
     background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 5vh;
    padding: 2vh;
}
.feel-text{
    display: flex;
    justify-content: start;
    align-items: center;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
}
.important-links span{
  font-size: 5vw;
}

#close{
    display: none;
}

@media (max-width: 640px) {
  #close{
    display: block;
  }
}